<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsomehow.badhan"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Apptheme">
        <activity
            android:name="com.appsomehow.badhan.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appsomehow.badhan.AddNewDonorActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptitive.ramadan.MainActivity" />
        </activity>

        <activity
            android:name="com.appsomehow.badhan.DonorListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/donor_list"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptitive.ramadan.MainActivity" />
        </activity>
        <activity
            android:name="com.appsomehow.badhan.DonorUpdateActivity"
            android:label="@string/app_name"
            android:parentActivityName=".DonorListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptitive.ramadan.DonorListActivity" />
        </activity>
        <activity
            android:name="com.appsomehow.badhan.AvailableDonorListActivity"
            android:label="@string/available_donors"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apptitive.ramadan.MainActivity" />
        </activity>
    </application>

</manifest>
